<html>
  <body>
    <h1>HOME do site</h1>

    
      <p>
        <label style="color:Red"> <%= title %> </label>
      </p>

       <% if(tipo == 'API') { %>
      <p>
        <label style="color:blue"> Eu sou user de API </label>
      </p>
    <%}%>

    <% if(tipo == 'Login') { %>
      <p>
        <label style="color:blue"> Eu sou user de Login </label>
      </p>
    <%}%>

  </body>
</html>