
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Register</title>
</head>


<body>

    <div class="login">
       <form action="/register" method="POST" >
        <input class="item" placeholder="email" name="email" type="text" /> <br/>
        <input class="item" placeholder="senha" name="senha" type="password" /> <br/>
        <input class="item" type="submit" value="Registrar" />
      </form>
    </div>

</body>
</html>