 *{
   box-sizing: border-box;
    margin: 0;
   padding: 0;

}
::-webkit-input-placeholder  { 
    float: center;
    width: 250px;
    padding: 10px;
}


body{
      display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.item{

 
  border-radius:20px;
  margin-top: 20px;
    width: 239px;
    height: 40px;
    left: 453px;
    top: 276px;

  
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login{

 

    background: white;
    border-radius: 10px;
    padding: 15px;
    height: 400px;
    width: 350px;
    box-shadow: 10px 9px 13px 10px rgba(0, 0, 0, 0.432);  

 
  
}
.button_api{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
   


}

.github{
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 20px;
    background: #050505;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.link_registrar{
    display: flex;
    margin-top: 20px;
    align-items: flex-end;
    justify-content: flex-end;

}